// Tipografía

$fuente-principal: 'PT Sans', sans-serif;
$fuente-logo: 'Bebas Neue', cursive;
$fuente-serie: 'MedievalSharp', cursive;

// Paleta de colores

$textos: #212529;
$negro: #000;
$blanco: #fff;
$verde: #6abf4b;

// Tamaño de dispositivos

$telefono: 480px;
$tablet: 768px;
$desktop: 996px;
$desktop_xl: 1200px;