@use "base/variables" as v;
@use "base/mixins" as m;

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 10rem;
    }
    i {
        font-size: 2rem;
    }
    .navegacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
        margin-right: 4rem;
    }
    .topbar_derecha a {
        color: v.$textos;
        font-size: 2rem;
    }
}